
   
    <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
            <li>
                <a href="admin"><i class="fa fa-fw fa-dashboard fa-2x"></i> Dashboard</a>
            </li>
            <li>
                <a href="onlineusers" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-user fa-2x"></i>online Users</a>
                
            </li>
            <!--<li>
                <a href="routeraccounts" data-toggle="collapse" data-target="#posts_dropdown"><i class="fa fa-fw fa-users fa-2x" aria-hidden="true"></i>User accounts on router</a>
                
            </li>-->
            <li>
                <a href="radiusaccounts" data-toggle="collapse" data-target="#posts_dropdown"><i class="fa fa-fw fa-users fa-2x" aria-hidden="true"></i>User accounts</a>
                
            </li>
            <li>
                <a href="addusers"><i class="fa fa-fw fa-user-plus fa-2x"></i> add users</a>
            </li>
            <!--<li>
                <a href="addrouter"><i class="fa fa-fw fa-plus fa-2x"></i> add router</a>
            </li>-->
             
            <li>
                <a href="#" data-toggle="collapse" data-target="#reports_dropdown"><i class="fa fa-fw fa-bar-chart fa-2x"></i> Reports <i class="fa fa-fw fa-caret-down"></i></a>
                <ul id="reports_dropdown" class="collapse">
                    <li>
                        <a href="reports">All Connection Sessions</a>
                    </li>
                    <li>
                        <a href="">Data usage per User</a>
                    </li>
                </ul>
            </li>
            
            
        </ul>
    </div>
    <!-- /.navbar-collapse -->
